{

  "extends": ["airbnb", "prettier","prettier/react"],
  "parser": "babel-eslint",
  "plugins": [
    "prettier"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "func-names": ["error", "never"],
    "prettier/prettier": [ // customizing prettier rules (unfortunately not many of them are customizable)
      "error",
      {
        "trailingComma": "all"
      }
    ]
  }
}
