.nwc-inp-container {
  position: relative;
  display: inline-block;
}

.nwc-inp {
  border: 1px solid $concrete;
  background: $transparent;
  outline: 0;
  
  &.is-invalid {
    border-color: $red-ribbon;
  }
}

@each $all-input-variants, $value in $all-input-variants {
  .nwc-inp-#{$all-input-variants} {
    border-color: $value;
  }
}

.nwc-inp-checkbox {
  position: relative;
  display: inline-block;
  border: 2px solid $black;
  user-select: none;

  &.is-checked {
    &::before {
      content: ' ';
      position: absolute;
      top: 2px;
      bottom: 2px;
      left: 2px;
      right: 2px;
      background: $black;
    }
  }
}

@each $all-input-variants, $value in $all-input-variants {
  .nwc-inp-checkbox-#{$all-input-variants} {
    &.is-checked {
      &::before {
        background: $value;
        @if(lightness($value) > 70) {
          border: 2px solid $compliment-for-light;
        }
      }
    }
  }
}

.nwc-inp-radio {
  position: relative;
  display: inline-block;
  border: 2px solid $black;
  border-radius: 50%;
  user-select: none;

  &.is-checked {
    &::before {
      content: ' ';
      position: absolute;
      top: 2px;
      bottom: 2px;
      left: 2px;
      right: 2px;
      border-radius: 50%;
      background: $black;
    }
  }
}

@each $all-input-variants, $value in $all-input-variants {
  .nwc-inp-radio-#{$all-input-variants} {
    &.is-checked {
      &::before {
        background: $value;
        @if(lightness($value) > 70) {
          border: 2px solid $compliment-for-light;
        }
      }
    }
  }
}

.nwc-inp-dash {
  border: 0;
  border-bottom: 2px solid darken-colors($concrete, 1);
}

/* stylelint-disable */

.nwc-disable-controls::-webkit-outer-spin-button,
.nwc-disable-controls::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* stylelint-enable */

// Size Variants
@each $all-input-sizevariants, $value in $all-input-sizevariants {
  .nwc-inp-#{$all-input-sizevariants} {
    min-width: $value;
    min-height: $value;
    font-size: $value;
  }
}

.nwc-inp-hide {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  min-width: 1px;
  max-width: 1px;
  min-height: 1px;
  max-height: 1px;
  background: $transparent;
}
