.nwc-inp-container {
  position: relative;
  display: inline-block;
}

.nwc-inp {
  border: $input-border-width $input-border-type $input-border-color;
  padding: $input-padding-y $input-padding-x;
  outline: 0;
  
  &.is-invalid {
    border-color: $input-invalid-color;
  }
}

.nwc-inp-primary-txt {
  border: 0;
  color: $input-primary-txt-color;
}

.nwc-inp-dark-background {
  border: 0;
  background: $input-dark-background;
  color: $input-dark-background-txt;
}

@each $input-variants, $value in $input-variants {
  .nwc-inp-#{$input-variants} {
    border-color: $value;
  }
}

.nwc-inp-checkbox {
  position: relative;
  display: inline-block;
  border: $input-checkbox-border-width $input-checkbox-border-type $input-checkbox-border-color;
  min-width: $font-size-normal;
  min-height: $font-size-normal;
  font-size: $font-size-normal;
  user-select: none;

  &.is-checked {
    &::before {
      content: " ";
      position: absolute;
      top: $input-checkbox-inner-spacing;
      bottom: $input-checkbox-inner-spacing;
      left: $input-checkbox-inner-spacing;
      right: $input-checkbox-inner-spacing;
      border: $input-checkbox-inner-border-width $input-checkbox-border-type $input-checkbox-border-color;
      background: $input-checkbox-inner-background;
    }
  }
}

@each $input-variants, $value in $input-variants {
  .nwc-inp-checkbox-#{$input-variants} {
    &.is-checked {
      &::before {
        background: $value;
        @if(lightness($value) > $lightness-threshold) {
          border-color: $compliment-for-light;
        }
      }
    }
  }
}

.nwc-inp-radio {
  position: relative;
  display: inline-block;
  border: $input-radio-border-width $input-radio-border-type $input-radio-border-color;
  border-radius: 50%;
  min-width: $font-size-normal;
  min-height: $font-size-normal;
  font-size: $font-size-normal;
  user-select: none;

  &.is-checked {
    &::before {
      content: " ";
      position: absolute;
      top: $input-radio-inner-spacing;
      bottom: $input-radio-inner-spacing;
      left: $input-radio-inner-spacing;
      right: $input-radio-inner-spacing;
      border: $input-radio-inner-border-width $input-radio-border-type $input-radio-border-color;
      border-radius: 50%;
      background: $input-radio-inner-background;
    }
  }
}

@each $input-variants, $value in $input-variants {
  .nwc-inp-radio-#{$input-variants} {
    &.is-checked {
      &::before {
        background: $value;
        @if(lightness($value) > $lightness-threshold) {
          border-color: $compliment-for-light;
        }
      }
    }
  }
}

.nwc-inp-dash {
  border-width: 0;
  border-bottom-width: $input-dash-border-width;
}

/* stylelint-disable */

.nwc-disable-controls::-webkit-outer-spin-button,
.nwc-disable-controls::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* stylelint-enable */

// Size Variants
@each $input-sizevariants, $value in $input-sizevariants {
  .nwc-inp-#{$input-sizevariants} {
    min-width: $value;
    min-height: $value;
    font-size: $value;
  }
}

.nwc-inp-hide {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  min-width: 1px;
  max-width: 1px;
  min-height: 1px;
  max-height: 1px;
  background: $transparent;
  color: $transparent;
  outline: 0;
}
