%nwc-modal-container {
  position: fixed;
  z-index: $modal-container-z-index;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $modal-container-background;
  outline: 0;
}

%nwc-modal-container-769 {
  @media screen and (min-width: $screen-min-sm) {
    padding: $modal-container-769-padding;
  }
}

%nwc-modal {
  position: relative;
  overflow: auto;
  width: 100%;
  min-height: $modal-min-height;
  height: 100%;
  padding: $modal-padding-y $modal-padding-x;
  background: $modal-background;
  outline: 0;
}

.nwc-modal-close {
  padding: $modal-container-close-padding-y $modal-container-close-padding-x;
}

%nwc-modal-769 {
  @media screen and (min-width: $screen-min-sm) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10px;
    border-radius: $modal-769-border-radius;
    max-width: 768px;
    max-height: 100%;
    height: $modal-height;
  }
}
