.nwc-select-container {
  position: relative;
  display: inline-block;
  border: $select-border-width $select-border-type $select-border-color;

  &.is-disabled {
    border: $select-border-width $select-border-type $select-border-color-disabled !important;
    color: $select-color-disabled !important;
  }
}

.nwc-select {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: $select-padding-y $select-padding-x;
  cursor: pointer;
  user-select: none;

  &.is-disabled {
    cursor: not-allowed;
  }
}

.nwc-select-arrowbottom {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 25px;
}

@each $select-variants, $value in $select-variants {
  .nwc-select-#{$select-variants} {
    background: set-color($value, $compliment-for-dark, $compliment-for-light);
    color: $value;
    border-color: $value;
  }
}

.nwc-select-list-container {
  position: absolute;
  top: 100%;
  left: 0;
  overflow: auto;
  margin: $select-list-margin-y $select-list-margin-x;
  border: $select-list-border-width $select-list-border-type $select-list-border-color;
  width: 100%;
  max-height: $select-list-max-height;
  padding: $select-list-padding-y $select-list-padding-x;
  background: $select-list-background;
}

// Size Variants
@each $select-sizevariants, $value in $select-sizevariants {
  .nwc-select-#{$select-sizevariants} {
    font-size: $value;
  }
}
