.nwc-select-container {
  position: relative;
  display: inline-block;
}

.nwc-select {
  display: inline-block;
  border: $select-border-width $select-border-type $select-border-color;
  width: 100%;
  height: 100%;
  cursor: pointer;
  user-select: none;
}

@each $select-variants, $value in $select-variants {
  .nwc-select-#{$select-variants} {
    background: $value;
    color: set-color($value, $compliment-for-dark, $compliment-for-light);
    @if(lightness($value) > $lightness-threshold) {
      border-color: $compliment-for-light;
    }
  }
}

.nwc-select-list-container {
  position: absolute;
  top: 100%;
  left: 0;
  overflow: auto;
  margin: $select-list-margin-y $select-list-margin-x;
  border: $select-list-border-width $select-list-border-type $select-list-border-color;
  width: 100%;
  max-height: $select-list-max-height;
  padding: $select-list-padding-y $select-list-padding-x;
  background: $select-list-background;
}

// Size Variants
@each $select-sizevariants, $value in $select-sizevariants {
  .nwc-select-#{$select-sizevariants} {
    font-size: $value;
  }
}
