%nwc-modal-overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $color-transparent-modal;
  outline: 0;
}

%nwc-modal-overlay-769 {
  @media screen and (min-width: $screen-min-sm) {
    padding: 10px;
  }
}

%nwc-modal {
  position: relative;
  overflow: auto;
  width: 100%;
  min-height: 200px;
  height: 100%;
  padding: 10px;
  background-color: $white;
  outline: 0;
}

%nwc-modal-769 {
  @media screen and (min-width: $screen-min-sm) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10px;
    border-radius: 3px;
    max-width: 768px;
    max-height: 100%;
    height: 360px;
  }
}

.nwc-hide-scrollbar {
  position: fixed;
  overflow-y: scroll;
}
