@import '../variables';

.nw-sample-autocompletecontainer {
  margin-bottom: 10px;
}

.nw-sample-autocompletewrapper {
  height: 300px;
  padding: 10px;
  text-align: center;
}

.nw-sample-autocomplete {
  margin: 0 auto;
  width: 200px;
}

.nw-sample-autocomplete-list {
  padding: 5px;

  &:hover {
    background: $gray;
  }

  &.is-active {
    background: $color-secondary;
    color: $white;
  }
}
