@import '../index';

.nw-sample-autocompletecontainer {
  margin-bottom: 10px;
}

.nw-sample-autocompletewrapper {
  border: 1px solid darken-colors($concrete, 1);
  border-radius: 3px;
  height: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nw-sample-autocomplete {
  margin: 0 auto;
  width: 200px;
}

.nw-sample-autocomplete-list {
  padding: 5px;

  &:hover {
    background: $concrete;
  }

  &.is-active {
    background: $color-secondary;
    color: $white;
  }
}
