.nwc-lazyimg-container {
  display: inline-block;
  transform: translate3d(0, 0, 0);
}

.nwc-lazyimg {
  opacity: 0;
  transition: opacity 0.4s ease;
  width: 100%;
  will-change: opacity;
  contain: style layout;

  &.is-loaded,
  &.is-error {
    opacity: 1;
  }
}
