.nw-font-xxxl {
  font-size: $font-size-xxxl;
}

.nw-font-xxl {
  font-size: $font-size-xxl;
}

.nw-font-xl {
  font-size: $font-size-xl;
}

.nw-font-lg {
  font-size: $font-size-lg;
}

.nw-font-normal {
  font-size: $font-size-normal;
}

.nw-font-sm {
  font-size: $font-size-sm;
}

.nw-font-xs {
  font-size: $font-size-xs;
}

.nw-font-xxs {
  font-size: $font-size-xxs;
}

.nw-font-xxxs {
  font-size: $font-size-xxxs;
}
