.nwc-hide-scrollbar {
  position: fixed;
  overflow-y: scroll;
}

.nwc-clearfix {
  &::after {
    content: " ";
    clear: both;
    display: block;
  }
}

.nwc-hide {
  display: none;
}

.nwc-hidden {
  visibility: hidden;
}

.nwc-text-primary {
  color: $color-primary;
}

.nwc-bg-primary {
  background-color: $color-primary;
}
