.nwc-hide-scrollbar {
  position: fixed;
  overflow-y: scroll;
}

.nwc-custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: $common-scrollbar-track;
  }

  &::-webkit-scrollbar-thumb {
    background: $common-scrollbar-thumb;
  }
}

.nwc-clearfix {
  &::after {
    content: " ";
    clear: both;
    display: block;
  }
}

.nwc-hide {
  display: none !important;
}

.nwc-hidden {
  visibility: hidden !important;
}

.nwc-text-primary {
  color: $common-color-primary !important;
}

.nwc-bg-primary {
  background-color: $common-color-primary !important;
}
