/** Color Names picked from http://chir.ag/projects/name-that-color/ */

$transparent: transparent !default;
$violet-red: #f2258b !default;
$lochmara: #0182cb !default;
$white: #fff !default;
$black: #000 !default;
$olive: #738c00 !default;
$red-ribbon: #ea0423 !default;
$concrete: #f3f3f3 !default;

$font-size: 18px !default;
$font-size-xxxs: get-rems(10px, $font-size) !default;
$font-size-xxs: get-rems(12px, $font-size) !default;
$font-size-xs: get-rems(14px, $font-size) !default;
$font-size-sm: get-rems(16px, $font-size) !default;
$font-size-normal: 1rem !default;
$font-size-lg: get-rems(20px, $font-size) !default;
$font-size-xl: get-rems(22px, $font-size) !default;
$font-size-xxl: get-rems(24px, $font-size) !default;
$font-size-xxxl: get-rems(28px, $font-size) !default;

$screen-max-xs: 768px !default;
$screen-min-sm: 769px !default;
$screen-max-sm: 992px !default;
$screen-min-md: 993px !default;
$screen-max-md: 1200px !default;
$screen-min-lg: 1201px !default;

/** Specific */

// Colors
$compliment-for-dark: $white;
$compliment-for-light: $black;

$color-primary: $violet-red !default;
$color-secondary: $lochmara !default;
$color-notification: $lochmara !default;
$color-success: $olive !default;
$color-danger: $red-ribbon !default;
$color-transparent-modal: rgba(0, 0, 0, 0.7) !default;

// Grid
$all-screen-max: (
  xs: $screen-max-xs,
  sm: $screen-max-sm,
  md: $screen-max-md
) !default;
$all-screen-min: (
  sm: $screen-min-sm,
  md: $screen-min-md,
  lg: $screen-min-lg
) !default;
$grid-gutter-width: 15px !default;
$grid-container-offset: 50px !default;
$total-cols: 12 !default;

// Close
$all-close-sizevariants: (
  xxs: get-rems(15px, $font-size),
  xs: get-rems(25px, $font-size),
  sm: get-rems(35px, $font-size),
  normal: get-rems(45px, $font-size),
  lg: get-rems(55px, $font-size),
  xl: get-rems(65px, $font-size),
  xxl: get-rems(75px, $font-size),
) !default; // variants font-size property

// Button
$all-button-variants: (
  primary: $color-primary,
  secondary: $white,
  success: $color-success,
  danger: $color-danger
) !default; // variants background property

$all-button-sizevariants: (
  xxs: $font-size-xxs,
  xs: $font-size-xs,
  sm: $font-size-sm,
  normal: $font-size-normal,
  lg: $font-size-lg,
  xl: $font-size-xl,
  xxl: $font-size-xxl,
) !default; // variants font-size property

// Input
$all-input-variants: (
  primary: $color-primary,
  secondary: $white,
  success: $color-success,
  danger: $color-danger
) !default; // variants for border property

$all-input-sizevariants: (
  xxs: $font-size-xxs,
  xs: $font-size-xs,
  sm: $font-size-sm,
  normal: $font-size-normal,
  lg: $font-size-lg,
  xl: $font-size-xl,
  xxl: $font-size-xxl,
) !default; // variants font-size property

// Dropdown
$all-dropdown-variants: (
  primary: $color-primary,
  secondary: $white,
  success: $color-success,
  danger: $color-danger
) !default; // variants for border property

// Toaster
$all-toaster-variants: (
  notification: $color-notification,
  success: $color-success,
  danger: $color-danger
) !default; // variants for background property

$screen-media: sm !default;
