.nw-block {
  border: 1px solid darken-colors($concrete, 1);
  border-radius: 3px;
  padding: 10px;
  background: $grid-column-background;
}

.nw-block-white {
  background: $concrete;
  color: $black;
}

.nw-modal {
  color: $black;
}

.nw-block-wrapper {
  margin-bottom: 50px;
}

.nw-div-wrapper {
  margin-bottom: 10px;
}

@import './app/index';
@import './AutocompleteExample/index';
@import './ColorsDisplay/index';
@import './FontSizes/index';
@import './SelectExample/index';
