/** Color Names picked from http://chir.ag/projects/name-that-color/ */

$transparent: transparent;
$violet-red: #f2258b !default;
$lochmara: #0182cb !default;
$white: #fff !default;
$black: #000 !default;
$olive: #738c00 !default;
$red-ribbon: #ea0423 !default;
$concrete: #f3f3f3 !default;

$font-size: 18px !default;
$font-size-xxxs: get-rems(10px, $font-size) !default;
$font-size-xxs: get-rems(12px, $font-size) !default;
$font-size-xs: get-rems(14px, $font-size) !default;
$font-size-sm: get-rems(16px, $font-size) !default;
$font-size-normal: 1rem !default;
$font-size-lg: get-rems(20px, $font-size) !default;
$font-size-xl: get-rems(22px, $font-size) !default;
$font-size-xxl: get-rems(24px, $font-size) !default;
$font-size-xxxl: get-rems(28px, $font-size) !default;

$all-screen-max: (xs: 768, sm: 992, md: 1200);
$all-screen-min: (sm: 769, md: 993, lg: 1201);

$screen-max-xs: map-get($all-screen-max, xs)+px;
$screen-min-sm: map-get($all-screen-min, sm)+px;
$screen-max-sm: map-get($all-screen-max, sm)+px;
$screen-min-md: map-get($all-screen-min, md)+px;
$screen-max-md: map-get($all-screen-max, md)+px;
$screen-min-lg: map-get($all-screen-min, lg)+px;

/** Specific */

$color-primary: $violet-red !default;
$color-secondary: $lochmara !default;
$color-success: $olive !default;
$color-danger: $red-ribbon !default;

$color-transparent-modal: rgba(0, 0, 0, 0.7);

$grid-gutter-width: 15px;
$grid-container-offset: 50px;
$total-cols: 12;

$screen-media: sm !default;
