.nwc-ripple-container {
  position: relative;
  overflow: hidden;
}

.nwc-ripple {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  opacity: 0.7;
  transform: scale(0);
  border-radius: 100%;
  will-change: transform;

  &.nwc-ripple-light {
    background: $white;
  }

  &.nwc-ripple-dark {
    background: $black;
  }

  &.is-active {
    animation: rippleAnimation 0.65s linear;
  }
}

@keyframes rippleAnimation {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
