.nwc-masonry {
  column-gap: $grid-gutter-width;
}

.nwc-masonry-grid {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  background: $white;
}

.nwc-masonry-emptygrid {
  height: 0;
}
