@font-face {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  src: url("https://i.icomoon.io/public/0aa30857bb/NNNOW//icomoon.eot?bekquj");
  src: url("https://i.icomoon.io/public/0aa30857bb/NNNOW//icomoon.eot?bekquj#iefix") format("embedded-opentype"), url("https://i.icomoon.io/public/0aa30857bb/NNNOW/icomoon.woff2?bekquj") format("woff2"), url("https://i.icomoon.io/public/0aa30857bb/NNNOW/icomoon.ttf?bekquj") format("truetype"), url("https://i.icomoon.io/public/0aa30857bb/NNNOW/icomoon.woff?bekquj") format("woff"), url("https://i.icomoon.io/public/0aa30857bb/NNNOW/icomoon.svg?bekquj#icomoon") format("svg");
}

@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("https://static.nnnow.com/client/fonts/Avenir.eot");

  /* IE9 Compat Modes */
  src: url("https://static.nnnow.com/client/fonts/Avenir.eot?#iefix") format("embedded-opentype"), url("https://static.nnnow.com/client/fonts/Avenir.woff") format("woff"), url("https://static.nnnow.com/client/fonts/Avenir.ttf") format("truetype"), url("https://static.nnnow.com/client/fonts/Avenir.svg") format("svg");

  /* Legacy iOS */
}

@font-face {
  font-family: "Avenir-Black";
  font-weight: 400;
  font-style: normal;
  src: url("https://static.nnnow.com/client/fonts/Avenir-Black.eot");

  /* IE9 Compat Modes */
  src: url("https://static.nnnow.com/client/fonts/Avenir-Black.eot?#iefix") format("embedded-opentype"), url("https://static.nnnow.com/client/fonts/Avenir-Black.woff") format("woff"), url("https://static.nnnow.com/client/fonts/Avenir-Black.ttf") format("truetype"), url("https://static.nnnow.com/client/fonts/Avenir-Black.svg") format("svg");

  /* Legacy iOS */
}

i {
  font-family: icomoon;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/**
 * Icomoon Variables
 */

$icomoon-search3: "\e904";
$icomoon-person1: "\e905";
$icomoon-marker3: "\e906";
$icomoon-bag1: "\e907";
$icomoon-arrow_right1: "\e908";
$icomoon-swatch: "\e903";
$icomoon-delivery-web: "\e902";
$icomoon-person: "\e600";
$icomoon-marker: "\e601";
$icomoon-bag: "\e602";
$icomoon-pricetag: "\e803";
$icomoon-nnnow_logo: "\e900";
$icomoon-copy: "\e901";
$icomoon-envelop: "\e945";
$icomoon-marker2: "\e949";
$icomoon-search2: "\e986";
$icomoon-heart2: "\e9da";
$icomoon-circle-up: "\ea41";
$icomoon-circle-right: "\ea42";
$icomoon-circle-down: "\ea43";
$icomoon-circle-left: "\ea44";
$icomoon-share: "\ea82";
$icomoon-facebook: "\ea90";
$icomoon-instagram: "\ea92";
$icomoon-whatsapp: "\ea93";
$icomoon-twitter: "\f099";
$icomoon-arrow_left: "\f104";
$icomoon-arrow_right: "\f105";
$icomoon-arrow_top: "\f106";
$icomoon-arrow_bottom: "\f107";
$icomoon-search: "\f002";
$icomoon-heart: "\f004";
$icomoon-star: "\f005";
$icomoon-user: "\f007";
$icomoon-check: "\f00c";
$icomoon-info-circle: "\f05a";
$icomoon-eye: "\f06e";
$icomoon-eye-slash: "\f070";
$icomoon-exclamation-triangle: "\f071";
$icomoon-warning: "\f071";
$icomoon-heart-o: "\f08a";
$icomoon-sign-out: "\f08b";
$icomoon-phone: "\f095";
$icomoon-menu: "\f0c9";
$icomoon-money: "\f0d6";
$icomoon-birthday-cake: "\f1fd";
$icomoon-pinterest: "\f231";
$icomoon-shopping-bag: "\f290";
$icomoon-clock: "\e94e";
$icomoon-calendar: "\e953";
$icomoon-mobile: "\e958";
$icomoon-smile: "\e9e1";
$icomoon-notification: "\ea08";
$icomoon-play2: "\ea15";
$icomoon-radio-checked: "\ea54";
$icomoon-radio-unchecked: "\ea56";


/**
 * Styles
 */

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* stylelint-disable */
.icomoon-search3 {
  &:before {
    content: $icomoon-search3;
  }
}
.icomoon-person1 {
  &:before {
    content: $icomoon-person1;
  }
}
.icomoon-marker3 {
  &:before {
    content: $icomoon-marker3;
  }
}
.icomoon-bag1 {
  &:before {
    content: $icomoon-bag1;
  }
}
.icomoon-arrow_right1 {
  &:before {
    content: $icomoon-arrow_right1;
  }
}
.icomoon-swatch {
  &:before {
    content: $icomoon-swatch;
  }
}
.icomoon-delivery-web {
  &:before {
    content: $icomoon-delivery-web;
  }
}
.icomoon-person {
  &:before {
    content: $icomoon-person;
  }
}
.icomoon-marker {
  &:before {
    content: $icomoon-marker;
  }
}
.icomoon-bag {
  &:before {
    content: $icomoon-bag;
  }
}
.icomoon-pricetag {
  &:before {
    content: $icomoon-pricetag;
  }
}
.icomoon-nnnow_logo {
  &:before {
    content: $icomoon-nnnow_logo;
  }
}
.icomoon-copy {
  &:before {
    content: $icomoon-copy;
  }
}
.icomoon-envelop {
  &:before {
    content: $icomoon-envelop;
  }
}
.icomoon-marker2 {
  &:before {
    content: $icomoon-marker2;
  }
}
.icomoon-search2 {
  &:before {
    content: $icomoon-search2;
  }
}
.icomoon-heart2 {
  &:before {
    content: $icomoon-heart2;
  }
}
.icomoon-circle-up {
  &:before {
    content: $icomoon-circle-up;
  }
}
.icomoon-circle-right {
  &:before {
    content: $icomoon-circle-right;
  }
}
.icomoon-circle-down {
  &:before {
    content: $icomoon-circle-down;
  }
}
.icomoon-circle-left {
  &:before {
    content: $icomoon-circle-left;
  }
}
.icomoon-share {
  &:before {
    content: $icomoon-share;
  }
}
.icomoon-facebook {
  &:before {
    content: $icomoon-facebook;
  }
}
.icomoon-instagram {
  &:before {
    content: $icomoon-instagram;
  }
}
.icomoon-whatsapp {
  &:before {
    content: $icomoon-whatsapp;
  }
}
.icomoon-twitter {
  &:before {
    content: $icomoon-twitter;
  }
}
.icomoon-arrow_left {
  &:before {
    content: $icomoon-arrow_left;
  }
}
.icomoon-arrow_right {
  &:before {
    content: $icomoon-arrow_right;
  }
}
.icomoon-arrow_top {
  &:before {
    content: $icomoon-arrow_top;
  }
}
.icomoon-arrow_bottom {
  &:before {
    content: $icomoon-arrow_bottom;
  }
}
.icomoon-search {
  &:before {
    content: $icomoon-search;
  }
}
.icomoon-heart {
  &:before {
    content: $icomoon-heart;
  }
}
.icomoon-star {
  &:before {
    content: $icomoon-star;
  }
}
.icomoon-user {
  &:before {
    content: $icomoon-user;
  }
}
.icomoon-check {
  &:before {
    content: $icomoon-check;
  }
}
.icomoon-info-circle {
  &:before {
    content: $icomoon-info-circle;
  }
}
.icomoon-eye {
  &:before {
    content: $icomoon-eye;
  }
}
.icomoon-eye-slash {
  &:before {
    content: $icomoon-eye-slash;
  }
}
.icomoon-exclamation-triangle {
  &:before {
    content: $icomoon-exclamation-triangle;
  }
}
.icomoon-warning {
  &:before {
    content: $icomoon-warning;
  }
}
.icomoon-heart-o {
  &:before {
    content: $icomoon-heart-o;
  }
}
.icomoon-sign-out {
  &:before {
    content: $icomoon-sign-out;
  }
}
.icomoon-phone {
  &:before {
    content: $icomoon-phone;
  }
}
.icomoon-menu {
  &:before {
    content: $icomoon-menu;
  }
}
.icomoon-money {
  &:before {
    content: $icomoon-money;
  }
}
.icomoon-birthday-cake {
  &:before {
    content: $icomoon-birthday-cake;
  }
}
.icomoon-pinterest {
  &:before {
    content: $icomoon-pinterest;
  }
}
.icomoon-shopping-bag {
  &:before {
    content: $icomoon-shopping-bag;
  }
}
.icomoon-clock {
  &:before {
    content: $icomoon-clock;
  }
}
.icomoon-calendar {
  &:before {
    content: $icomoon-calendar;
  }
}
.icomoon-mobile {
  &:before {
    content: $icomoon-mobile;
  }
}
.icomoon-smile {
  &:before {
    content: $icomoon-smile;
  }
}
.icomoon-notification {
  &:before {
    content: $icomoon-notification;
  }
}
.icomoon-play2 {
  &:before {
    content: $icomoon-play2;
  }
}
.icomoon-radio-checked {
  &:before {
    content: $icomoon-radio-checked;
  }
}
.icomoon-radio-unchecked {
  &:before {
    content: $icomoon-radio-unchecked;
  }
}
/* stylelint-enable */
