@import '../node_modules/normalize.css';
@import './components/index';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background: $body-background;
  font-size: $font-size;
  font-family: Avenir, sans-serif;
  color: $body-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
  src: url('https://i.icomoon.io/public/0aa30857bb/NNNOW//icomoon.eot?bekquj');
  src: url('https://i.icomoon.io/public/0aa30857bb/NNNOW//icomoon.eot?bekquj#iefix') format('embedded-opentype'), url('https://i.icomoon.io/public/0aa30857bb/NNNOW/icomoon.woff2?bekquj') format('woff2'), url('https://i.icomoon.io/public/0aa30857bb/NNNOW/icomoon.ttf?bekquj') format('truetype'), url('https://i.icomoon.io/public/0aa30857bb/NNNOW/icomoon.woff?bekquj') format('woff'), url('https://i.icomoon.io/public/0aa30857bb/NNNOW/icomoon.svg?bekquj#icomoon') format('svg');
}

@font-face {
  font-family: 'Avenir';
  font-weight: 400;
  font-style: normal;
  src: url('https://static.nnnow.com/client/fonts/Avenir.eot');

  /* IE9 Compat Modes */
  src: url('https://static.nnnow.com/client/fonts/Avenir.eot?#iefix') format('embedded-opentype'), url('https://static.nnnow.com/client/fonts/Avenir.woff') format('woff'), url('https://static.nnnow.com/client/fonts/Avenir.ttf') format('truetype'), url('https://static.nnnow.com/client/fonts/Avenir.svg') format('svg');

  /* Legacy iOS */
}

@font-face {
  font-family: 'Avenir-Black';
  font-weight: 400;
  font-style: normal;
  src: url('https://static.nnnow.com/client/fonts/Avenir-Black.eot');

  /* IE9 Compat Modes */
  src: url('https://static.nnnow.com/client/fonts/Avenir-Black.eot?#iefix') format('embedded-opentype'), url('https://static.nnnow.com/client/fonts/Avenir-Black.woff') format('woff'), url('https://static.nnnow.com/client/fonts/Avenir-Black.ttf') format('truetype'), url('https://static.nnnow.com/client/fonts/Avenir-Black.svg') format('svg');

  /* Legacy iOS */
}

.nw-space-bottom {
  margin-bottom: 15px;
}
