@import '../index';

.nw-color-block {
  height: 30px;
}

.nw-color-row {
  margin-bottom: 20px;
}

.nw-color-white {
  background: $white;
}

.nw-color-black {
  background: $black;
}

.nw-color-violet-red {
  background: $violet-red;
}

.nw-color-lochmara {
  background: $lochmara;
}

.nw-color-fountain-blue {
  background: $fountain-blue;
}

.nw-color-fern {
  background: $fern;
}

.nw-color-tan-hide {
  background: $tan-hide;
}

.nw-color-chestnut-rose {
  background: $chestnut-rose;
}

.nw-color-concrete {
  background: $concrete;
}
