.nw-color-block {
  height: 30px;
}

.nw-color-row {
  margin-bottom: 20px;
}

.nw-color-white {
  background: $white;
}

.nw-color-black {
  background: $black;
}

.nw-color-primary {
  background: $wild-strawberry;
}

.nw-color-secondary {
  background: $lochmara;
}

.nw-color-notification {
  background: $boston-blue;
}

.nw-color-success {
  background: $sushi;
}

.nw-color-warning {
  background: $web-orange;
}

.nw-color-danger {
  background: $torch-red;
}

.nw-color-concrete {
  background: $concrete;
}
