@import '../index';

.nw-sample-select {
  margin: 0 auto;
  width: 200px;
  height: 300px;
}

.nw-select {
  width: 100%;
}

.nw-sample-select-list {
  padding: 5px;

  &:hover {
    background: $concrete;
  }

  &.is-active {
    background: $color-secondary;
    color: $white;
  }
}
