.nwc-btn {
  border: 1px solid #eee;
  background: $transparent;
  color: $black;
  outline: 0;
}

@each $all-button-variants, $value in $all-button-variants {
  .nwc-btn-#{$all-button-variants} {
    background: $value;
    color: set-color($value, $compliment-for-dark, $compliment-for-light);
    @if(lightness($value) > 70) {
      border: 1px solid $compliment-for-light;
    }
  }
}

// Size Variants
.nwc-btn-xxs {
  padding: 0;
  font-size: $font-size-xxs;
}

.nwc-btn-xs {
  padding: 2px;
  font-size: $font-size-xs;
}

.nwc-btn-sm {
  padding: 4px;
  font-size: $font-size-sm;
}

.nwc-btn-normal {
  padding: 6px;
  font-size: $font-size-normal;
}

.nwc-btn-lg {
  padding: 8px;
  font-size: $font-size-lg;
}

.nwc-btn-xl {
  padding: 10px;
  font-size: $font-size-xl;
}

.nwc-btn-xxl {
  padding: 12px;
  font-size: $font-size-xxl;
}
